In [116]:
import pandas as pd

In [101]:
df = pd.read_csv('data.csv')

In [102]:
a = df['periodic_target'].unique()

In [103]:
b = list(a)

In [104]:
df.head()

,sector,reporting_frequency,id,indicator_type,level,name,number,source,definition,justification,...,data_points,responsible_person,method_of_analysis,information_use,quality_assurance,data_issues,indicator_changes,comments,workflowlevel1,key_performance_indicator
0,NaN,NaN,1,NaN,NECPA,No. of inception meetings held,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2,NaN,NECPA,# of youth who have received discounted seeds,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3,NaN,NECPA,# of youth who have received discounted seeds,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4,NaN,NECPA,# of youth who have received discounted seeds,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5,NaN,NECPA,# of youth who have received discounted seeds,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
y = []
y2 = []
name = []
for i in range(len(df)):
    if(df['periodic_target'].iloc[i] == 'August'):
        name.append(df['name'].iloc[i])
        y.append(df['achieved'].iloc[i])
        y2.append(df['lop_target'].iloc[i])

In [109]:
pd.DataFrame(name,y,y2)

ValueError: Shape of passed values is (1, 4), indices imply (4, 4)

In [24]:
list(df)

['sector',
 'reporting_frequency',
 'id',
 'indicator_type',
 'level',
 'name',
 'number',
 'source',
 'definition',
 'justification',
 'unit_of_measure',
 'baseline',
 'lop_target',
 'achieved',
 'periodic_target',
 'rationale_for_target',
 'means_of_verification',
 'data_collection_method',
 'data_collection_frequency',
 'data_points',
 'responsible_person',
 'method_of_analysis',
 'information_use',
 'quality_assurance',
 'data_issues',
 'indicator_changes',
 'comments',
 'workflowlevel1',
 'key_performance_indicator']

In [27]:
df_ = df[['name','lop_target','periodic_target','achieved']]
df_.head()

,name,lop_target,periodic_target,achieved
0,No. of inception meetings held,8,July,8.0
1,# of youth who have received discounted seeds,1500,July,221.0
2,# of youth who have received discounted seeds,1500,August,569.0
3,# of youth who have received discounted seeds,1500,September,524.0
4,# of youth who have received discounted seeds,1500,October,1.0

In [33]:
df1 = df_.groupby(['name', 'periodic_target'])
print(df1)

<pandas.core.groupby.DataFrameGroupBy object at 0x7fe99e39c650>

In [35]:
df['name'].unique()

array(['No. of inception meetings held',
       '# of youth who have received discounted seeds',
       'No. of youth trained in nursery mgt', 'No. of youth enrolled',
       '# of nurseries accessing improved planting materials',
       '# of demos established', '# of youth trained in crop management',
       'No. of field agents and marketing committees trained',
       'No. of training days for field agents and marketing commitees',
       'No. of training hours for field agents and marketing commitees',
       '# of trade fairs participated in',
       '# of HHs trained in PHH and storage',
       '# of sample dryers purchased', '# of field days organized',
       '# of youth trained in Business planning and market literacy',
       '# of youth trained in value addition',
       'No. of linkage meetings facilitated',
       '# of tons of chili purchased from youth farmers',
       '# of bimonthly meetings facilitated',
       '# of monthly monitoring field visits conducted'], dtype=object)

In [91]:
df_combine = pd.read_csv('combine.csv')
df_combine = df_combine[df_combine['Month']== 'July']

In [92]:
dfc = df_combine.groupby(['Gender', 'Age Category','Activity']).size()
dfc = pd.DataFrame(dfc)
dfc

                                        0
Gender Age Category Activity
Female 15-18        Seed distribution  34
                    Training           30
       19-24        Seed distribution  35
                    Training           36
       25+          Seed distribution   1
                    Training            5
Male   15-18        Seed distribution  33
                    Training           32
       19-24        Seed distribution  99
                    Training           70
       25+          Seed distribution  19
                    Training           19

In [112]:
dfc.to_csv('trial.csv')

<bound method DataFrame.as_matrix of                                         0
Gender Age Category Activity
Female 15-18        Seed distribution  34
                    Training           30
       19-24        Seed distribution  35
                    Training           36
       25+          Seed distribution   1
                    Training            5
Male   15-18        Seed distribution  33
                    Training           32
       19-24        Seed distribution  99
                    Training           70
       25+          Seed distribution  19
                    Training           19>

In [166]:
df = pd.read_csv('new_report.csv')
df = df.drop(df.columns[31], axis=1)
df = df.drop(df.columns[31], axis=1)
df = df.drop(df.columns[31], axis=1)
list(df)

['Activity',
 'Partner',
 'GroupName',
 'Venue',
 'District',
 'Subcounty',
 'Parish',
 'Village',
 'Name',
 'Gender',
 'Tel contact',
 'Age cohorts',
 'Title',
 'Identification and Mobilisation',
 'Month_ID_Mob',
 'Year_ID_Mob',
 'Nursery mgt',
 'Month_N_Mgt',
 'Year_N_Mgt',
 'Demo Setup',
 'Month_Demo',
 'Year_Demo',
 'PHH',
 'Month_PHH',
 'Year_PHH',
 'Mrketing and Sales (Entrepreneurship Skills)',
 'Month_Mrk_Sales',
 'Year_Mrk_Sales',
 'Crop mgt (Pests and Disease control, soil and water)',
 'Month_C_Mgt',
 'Year_C_Mgt',
 'Seed Distn',
 'Month_Seed_Dist',
 'Year_Seed_Dist',
 'Input type',
 'Quantity',
 'Amount',
 'Monitoring',
 'Month_Seed_Dist.1',
 'Year_Seed_Dist.1']

In [ ]:
Year_arr = ['Year_ID_Mob', 'Year_N_Mgt', 'Year_Demo', 'Year_PHH', 
             'Year_Mrk_Sales', 'Year_C_Mgt', 'Year_Seed_Dist']

In [207]:
d = df.iloc[:,31].value_counts()
month_arr = ['Month_ID_Mob', 'Month_N_Mgt', 'Month_Demo', 'Month_PHH', 
             'Month_Mrk_Sales', 'Month_C_Mgt', 'Month_Seed_Dist']
year_arr = ['Year_ID_Mob', 'Year_N_Mgt', 'Year_Demo', 'Year_PHH', 
             'Year_Mrk_Sales', 'Year_C_Mgt', 'Year_Seed_Dist']
activity_arr = ['id mob', 'nursery management', 'demo', 'phh', 'marketing', 'crop management', 'seed distribution']
count_arr = []
df_arr = []
index = 10

val = 'March'
valy = 2018
for i in range(len(month_arr)):
    index = index+3
    df_tmp = df[df[month_arr[i]]== val]
    df_tmp = df_tmp[df_tmp[year_arr[i]] == valy]
    count_tmp = df_tmp.iloc[:,index].value_counts()
    count_arr.append(count_tmp)
    df_arr.append(df_tmp)

In [211]:
df_arr[5]

,Activity,Partner,GroupName,Venue,District,Subcounty,Parish,Village,Name,Gender,...,Year_C_Mgt,Seed Distn,Month_Seed_Dist,Year_Seed_Dist,Input type,Quantity,Amount,Monitoring,Month_Seed_Dist.1,Year_Seed_Dist.1
190,Training,NECPA,Abuturu,Abuturu TC,Omoro,Lalogi,Gem,Abuturu,Jennifer Akullu,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Bosco Ogomarach,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Bosco Oryema,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Quinto Okello,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Salis Olela,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Peace Ongom,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Docas Etang,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Susan Akwero,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Monica Awidi,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Jenneth Akello,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Molly Adong,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Betty AKello,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Grace Adong,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Ray Ogwal,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,John Apili,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Rose Auma,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Santa Aceng,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Monica Awidi (2),Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Bento Aryemo,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Christin Ocaya,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Flow Alii,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Denish Ogwal,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,Training,NECPA,Agwel United,Bar-obia ward,Pader,Puranga,Apwor,Bar Obia,Nayiti Akiteng,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,Training,NECPA,Bar Mogo,Wiikwoyo ward,Omoro,Bobi,Patek,Bar Mogo,Hilda Mary Acan,Female,...,2018.0,1.0,September,2017.0,Chilli,100g,2100.0,NaN,NaN,NaN
518,Training,NECPA,Bar Mogo,Wiikwoyo ward,Omoro,Bobi,Patek,Bar Mogo,Brenda Akullu,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,Training,NECPA,Bar Mogo,Wiikwoyo ward,Omoro,Bobi,Patek,Bar Mogo,Innocent Yile,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,Training,NECPA,Bar Mogo,Wiikwoyo ward,Omoro,Bobi,Patek,Bar Mogo,Charlse Ochen,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,Training,NECPA,Bar Mogo,Wiikwoyo ward,Omoro,Bobi,Patek,Bar Mogo,Moses Onekalit,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,Training,NECPA,Bar Mogo,Wiikwoyo ward,Omoro,Bobi,Patek,Bar Mogo,Lubosco Odongo,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,Training,NECPA,Bar Mogo,Wiikwoyo ward,Omoro,Bobi,Patek,Bar Mogo,Brian Ian Odongo,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1937,Training,NECPA,Pur Ber,S/c head quarter,Gulu,Unyama,Unyama,Unyama A/B,Gladys Piloya,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1938,Training,NECPA,Pur Ber,S/c head quarter,Gulu,Unyama,Unyama,Unyama A/B,Christopher Akera,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1939,Training,NECPA,Pur Ber,S/c head quarter,Gulu,Unyama,Unyama,Unyama A/B,Jennifer AmonY,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1940,Training,NECPA,Pur Ber,S/c head quarter,Gulu,Unyama,Unyama,Unyama A/B,Sarah Akello,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2207,Training,NECPA,Teko tiyo,Market,Omoro,Odek,Lamola,Akoyo,Richard Odong Papa,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2208,Training,NECPA,Teko tiyo,Market,Omoro,Odek,Lamola,Akoyo,Morich Ocakacon,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2209,Training,NECPA,Teko tiyo,Market,Omoro,Odek,Lamola,Akoyo,Bonny Ocen,Male,...,2018.0,1.0,August,2017.0,Chilli,100g,2100.0,NaN,NaN,NaN
2210,Training,NECPA,Teko tiyo,Market,Omoro,Odek,Lamola,Akoyo,Simon Olak,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2211,Training,NECPA,Teko tiyo,Market,Omoro,Odek,Lamola,Akoyo,Bobson Bua,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2214,Training,NECPA,Teko tiyo,Akoyo,Omoro,Odek,Lamola,Akoyo,Isaac Oyuru,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2215,Training,NECPA,Teko tiyo,Akoyo,Omoro,Odek,Lamola,Akoyo,John Ogwang,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216,Training,NECPA,Teko tiyo,Akoyo,Omoro,Odek,Lamola,Akoyo,Richard Okello,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2217,Training,NECPA,Teko tiyo,Akoyo,Omoro,Odek,Lamola,Akoyo,Silvia Oroma,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2218,Training,NECPA,Teko tiyo,Akoyo,Omoro,Odek,Lamola,Akoyo,Denish Komakech,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2226,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Robert Odoch,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2237,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Isaac Odyek,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2241,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Nelson Odongkara,Male,...,2018.0,1.0,September,2017.0,Chilli,100g,2100.0,NaN,NaN,NaN
2260,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Nelson Odilo,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2261,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Proscovia Awoko,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2262,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Catherine Abua,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2263,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Nelson Okello,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2264,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Bonny Odongo,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Innocent Ilee,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2266,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Emmy Obong,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2267,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Jeniffer Abang,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2268,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Patrick Ocen,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2269,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,Denis Okello,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2270,Training,NECPA,Wigweng,Wiikwoyo ward,Omoro,Bobi,Patek,Wigweng,David Mike Bua,Male,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2360,Training,NECPA,Warib-Cing,Lukodi Centre,Gulu,Bungatira,Punena,Lukodi,Rose Mary Apio,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2361,Training,NECPA,Warib-Cing,Lukodi Centre,Gulu,Bungatira,Punena,Lukodi,Christine Labong,Female,...,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
val = 'September'
df_mob = df[df['Month_ID_Mob']== val]
df_mob = df_mob[df_mob['Year_ID_Mob']== valy]
count_mob = df_mob.iloc[:,13].value_counts()
df_nmgt = df[df['Month_N_Mgt']== val]
count_nmgt = df_nmgt.iloc[:,16].value_counts()
df_demo = df[df['Month_Demo']== val]
count_demo = df_demo.iloc[:,19].value_counts()
df_phh = df[df['Month_PHH']== val]
count_phh = df_phh.iloc[:,22].value_counts()
df_mkt = df[df['Month_Mrk_Sales']== val]
count_mkt = df_mkt.iloc[:,25].value_counts()
df_cmgt = df[df['Month_C_Mgt']== val]
count_cmgt = df_cmgt.iloc[:,28].value_counts()
# df_val = df[df['Month_Val_Ad']== val]
# count_val = df_val.iloc[:,31].value_counts()
df_seed = df[df['Month_Seed_Dist']== val]
count_seed = df_seed.iloc[:,31].value_counts()

In [233]:
df = pd.read_csv('new_report.csv')
df = df.drop(df.columns[31], axis=1)
df = df.drop(df.columns[31], axis=1)
df = df.drop(df.columns[31], axis=1)
month_arr = ['Month_ID_Mob', 'Month_N_Mgt', 'Month_Demo', 'Month_PHH', 
             'Month_Mrk_Sales', 'Month_C_Mgt', 'Month_Seed_Dist']
year_arr = ['Year_ID_Mob', 'Year_N_Mgt', 'Year_Demo', 'Year_PHH', 
             'Year_Mrk_Sales', 'Year_C_Mgt', 'Year_Seed_Dist']
activity_arr = ['id mob', 'nursery management', 'demo', 'phh', 'marketing', 'crop management', 'seed distribution']
count_arr = []
df_arr = []
index = 10

val = 'March'
valy = 2018
for i in range(len(month_arr)):
    index = index+3
    df_tmp = df[df[month_arr[i]]== val]
    df_tmp = df_tmp[df_tmp[year_arr[i]] == valy]
    count_tmp = df_tmp.iloc[:,index].value_counts()
    count_arr.append(count_tmp)
    df_arr.append(df_tmp)
df_final = pd.DataFrame()
for i in range(len(activity_arr)):
    dfc = df_arr[i]
    dfc = dfc.groupby(['Gender', 'Age cohorts']).size()
    dfc = pd.DataFrame(dfc)
    dfc.insert(loc=0, column='Activity', value=activity_arr[i])
    df_final = df_final.append(dfc)

In [238]:
df_final.to_csv('tmp.csv')
df_display = pd.read_csv('tmp.csv')
df_display = df_display[['Activity', 'Gender', 'Age cohorts', '0']]

In [239]:
df_display

              Activity  Gender Age cohorts   0
0   nursery management  Female       19-24   7
1   nursery management    Male       15-18   5
2   nursery management    Male       19-24  14
3   nursery management    Male         25+   1
4                  phh  Female       15-18  25
5                  phh  Female       19-24  35
6                  phh    Male       15-18  21
7                  phh    Male       19-24  54
8                  phh    Male         25+   2
9      crop management  Female       15-18  16
10     crop management  Female       19-24  45
11     crop management    Male       15-18  16
12     crop management    Male       19-24  57
13     crop management    Male         25+   2

In [230]:
df_final[0]

Empty DataFrame
Columns: [Activity, 0]
Index: []