In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

In [4]:
a = df['periodic_target'].unique()

In [5]:
b = list(a)

In [41]:
df.head()

,sector,reporting_frequency,id,indicator_type,level,name,number,source,definition,justification,...,data_points,responsible_person,method_of_analysis,information_use,quality_assurance,data_issues,indicator_changes,comments,workflowlevel1,key_performance_indicator
0,NaN,NaN,1,NaN,NECPA,No. of inception meetings held,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2,NaN,NECPA,# of youth who have received discounted seeds,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3,NaN,NECPA,# of youth who have received discounted seeds,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4,NaN,NECPA,# of youth who have received discounted seeds,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5,NaN,NECPA,# of youth who have received discounted seeds,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
y = []
y2 = []
name = []
for i in range(len(df)):
    if(df['periodic_target'].iloc[i] == 'August'):
        name.append(df['name'].iloc[i])
        y.append(df['achieved'].iloc[i])
        y2.append(df['lop_target'].iloc[i])

In [55]:
y2

[1500, 1500, 1500, 1500]

In [24]:
list(df)

['sector',
 'reporting_frequency',
 'id',
 'indicator_type',
 'level',
 'name',
 'number',
 'source',
 'definition',
 'justification',
 'unit_of_measure',
 'baseline',
 'lop_target',
 'achieved',
 'periodic_target',
 'rationale_for_target',
 'means_of_verification',
 'data_collection_method',
 'data_collection_frequency',
 'data_points',
 'responsible_person',
 'method_of_analysis',
 'information_use',
 'quality_assurance',
 'data_issues',
 'indicator_changes',
 'comments',
 'workflowlevel1',
 'key_performance_indicator']

In [27]:
df_ = df[['name','lop_target','periodic_target','achieved']]
df_.head()

,name,lop_target,periodic_target,achieved
0,No. of inception meetings held,8,July,8.0
1,# of youth who have received discounted seeds,1500,July,221.0
2,# of youth who have received discounted seeds,1500,August,569.0
3,# of youth who have received discounted seeds,1500,September,524.0
4,# of youth who have received discounted seeds,1500,October,1.0

In [33]:
df1 = df_.groupby(['name', 'periodic_target'])
print(df1)

<pandas.core.groupby.DataFrameGroupBy object at 0x7fe99e39c650>

In [35]:
df['name'].unique()

array(['No. of inception meetings held',
       '# of youth who have received discounted seeds',
       'No. of youth trained in nursery mgt', 'No. of youth enrolled',
       '# of nurseries accessing improved planting materials',
       '# of demos established', '# of youth trained in crop management',
       'No. of field agents and marketing committees trained',
       'No. of training days for field agents and marketing commitees',
       'No. of training hours for field agents and marketing commitees',
       '# of trade fairs participated in',
       '# of HHs trained in PHH and storage',
       '# of sample dryers purchased', '# of field days organized',
       '# of youth trained in Business planning and market literacy',
       '# of youth trained in value addition',
       'No. of linkage meetings facilitated',
       '# of tons of chili purchased from youth farmers',
       '# of bimonthly meetings facilitated',
       '# of monthly monitoring field visits conducted'], dtype=object)